node_modules
vendor
.git
.gitignore
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.editorconfig
.styleci.yml
docker-compose.yml
Dockerfile
README.md
